<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
	
	
	<import resource="spring-data.xml" />
	
		<!-- SPRING SECURITY -->

	<sec:http auto-config="true" use-expressions="true">
		
		<sec:intercept-url pattern="/secure/admin/**" access="hasRole('ROLE_ADMIN')" />
		<sec:intercept-url pattern="/secure/*" access="isAuthenticated()" />
		<sec:intercept-url pattern="/*" access="permitAll" />

		<sec:form-login
			login-page="/loginpage"
			default-target-url="/secure/main"
			authentication-failure-url="/loginfail" />
			
		<sec:logout logout-success-url="/logout" />
		
	</sec:http>
	
	<bean id="encoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder" />


	<sec:authentication-manager>
		<sec:authentication-provider>
			<sec:password-encoder ref="encoder" />
			<sec:jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select sahkoposti, salasana from kayttaja where sahkoposti=?"
				authorities-by-username-query="select u.sahkoposti, a.role from kayttaja u JOIN kayttajan_authority ua ON (u.id = ua.kayttaja_id) JOIN authority a ON (a.id = ua.authority_id) WHERE u.sahkoposti = ?" />
		</sec:authentication-provider>
	</sec:authentication-manager>

	<!-- USER DEFINITIONS BY XML
	
	 <sec:authentication-manager>
			<sec:authentication-provider>
				<sec:user-service>
					<sec:user name="user" password="userpassu" authorities="ROLE_USER" />
					<sec:user name="admin" password="adminpassu" authorities="ROLE_ADMIN" />
				</sec:user-service>
			</sec:authentication-provider>
		</sec:authentication-manager>
	-->


	<sec:global-method-security pre-post-annotations="enabled" />
	

</beans>
